*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  isolation: isolate;
  line-height: 1.5;
  margin: 0;
}

body {
  background-color: #d5ddd3;
  color: #222a21;
  display: grid;
  font-family: Lato, sans-serif;
  grid-template-rows: 1fr 0;
  height: 100vh;
  overflow: hidden;

  figure,
  h1,
  h2,
  p {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  img,
  svg {
    display: block;
  }

  button,
  input {
    font-family: inherit;
    padding: 0;
  }

  button {
    border: none;
    cursor: pointer;
  }

  input {
    margin: 0;
  }

  #app {
    display: grid;
    grid-column: 1;
    grid-row: 1 / -1;
    grid-template-rows: 4rem 1fr;
    isolation: isolate;

    & > header,
    & > main {
      isolation: isolate;
    }

    & > main {
      overflow-y: auto;
    }
  }

  #dev-tools {
    align-self: end;
    display: none;
    gap: 0.25rem;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    isolation: isolate;
    justify-self: end;
    margin: 0 1rem 1rem 0;

    &.visible {
      display: grid;
    }

    .dev-tools-toggle {
      align-items: center;
      background-color: rgba(34, 42, 33, 0.9);
      border-radius: 0.5rem;
      color: #bbc5b9;
      display: flex;
      grid-column: 2;
      grid-row: 2;
      justify-content: center;
      padding: 0.5rem;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        background-color: rgba(34, 42, 33, 1);
        color: #6e7c6a;
      }

      .dev-tools-toggle-icon {
        height: 0.8331rem;
        width: 0.8331rem;
      }
    }

    .dev-tools-bubble {
      background-color: rgba(34, 42, 33, 0.95);
      border-radius: 0.75rem;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
      display: none;
      grid-column: 1 / -1;
      grid-row: 1;
      padding: 0.5rem;

      &.visible {
        display: block;
      }

      .bubble-content {
        color: #bbc5b9;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
