@use "@client/pages/Auth/components/AuthForm/constants/auth-form.constant.scss"
  as *;

.form-actions {
  display: flex;
  justify-content: space-between;

  .button {
    align-items: center;
    appearance: none;
    border-radius: 0.375rem;
    color: #1a202c;
    font-size: 1rem;
    font-weight: 600;
    height: $form-actions-height;
    justify-content: center;
    line-height: 1.2;
    min-width: 2.5rem;
    outline: 0.125rem solid transparent;
    outline-offset: 0.125rem;
    transition-duration: 0.2s;
    transition-property:
      background-color, border-color, color, fill, stroke, opacity, box-shadow,
      transform;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &.back {
      background-color: transparent;
      border: 0.0625rem solid #e2e8f0;
      display: flex;

      &:hover {
        background-color: #edf2f7;
      }

      &:active {
        background-color: #e2e8f0;
      }
    }

    &.submit {
      background-color: #edf2f7;
      display: inline-flex;
      margin-left: auto;
      padding: 0 1rem;

      &:hover {
        background-color: #e2e8f0;
      }

      &:active {
        background-color: #cbd5e0;
      }
    }
  }
}
