@use "@client/components/BaseCard/constants/base-card.constant.scss" as *;

.base-card {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $card-vertical-padding $card-horizontal-padding;

  &.hidden {
    display: none;
  }

  .content {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 1.5625rem 3.125rem -0.75rem rgba(0, 0, 0, 0.25);
    height: 100%;
    max-width: 20.625rem;
    min-width: 20.625rem;
    padding: $card-content-vertical-padding $card-content-horizontal-padding;
    width: 100%;
  }
}
