.dev-tools {
  align-self: end;
  display: none;
  gap: 0.25rem;
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  isolation: isolate;
  justify-self: end;
  margin: 0 1rem 1rem 0;

  &.visible {
    display: grid;
  }

  .dev-tools-toggle {
    align-items: center;
    background-color: rgba(34, 42, 33, 0.9);
    border-radius: 0.5rem;
    color: #bbc5b9;
    display: flex;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    padding: 0.5rem;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: rgba(34, 42, 33, 1);
      color: #6e7c6a;
    }

    .dev-tools-toggle-icon {
      height: 0.8331rem;
      width: 0.8331rem;
    }
  }

  .dev-tools-bubble {
    background-color: rgba(34, 42, 33, 0.95);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
    display: none;
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0.5rem;

    &.visible {
      display: block;
    }

    .bubble-content {
      color: #bbc5b9;
      display: flex;
      flex-direction: column;

      .option-container {
        cursor: pointer;
        padding: 0.25rem;

        & > :first-child {
          align-items: center;
          background-color: transparent;
          border-radius: 600rem;
          box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 0.1),
            0 0.125rem 0.25rem -0.125rem rgb(0 0 0 / 0.1);
          color: #bbc5b9;
          display: grid !important;
          gap: 0.5rem;
          grid-template-columns: auto 1fr;
          grid-template-rows: 1fr;
          height: 1.125rem;
          padding: 0 0.25rem;
          position: initial !important;

          &::after {
            font-size: 0.75rem;
            grid-column: 2;
            grid-row: 1;
            white-space: nowrap;
          }

          &:focus-within {
            outline: none;
          }

          &:hover {
            background-color: rgba(34, 42, 33, 1);
            color: #6e7c6a;
          }

          &.api-docs,
          &.api-health {
            .icon {
              font-size: 1.125rem;
            }
          }

          &.api-docs {
            &::after {
              content: "API Swagger Docs";
            }
          }

          &.api-health {
            &::after {
              content: "API Health Check";
            }
          }

          &[aria-label="Open TanStack Devtools"] {
            [data-testid="react-router-devtools-trigger"] {
              height: 1rem;
              padding: 0;
              width: 1rem;
            }

            &::after {
              content: "React Router Dev Tools";
            }

            svg {
              grid-column: 1;
              grid-row: 1;
              height: 1rem;
              width: 1rem;
            }
          }

          &[class~="tsqd-open-btn-container"] {
            &::after {
              content: "Tanstack Query Dev Tools";
            }

            > div:first-of-type {
              grid-column: 1;
              grid-row: 1;
              height: 1rem;
              position: initial;
              width: 1rem;
            }

            [class~="tsqd-open-btn"] {
              grid-column: 1;
              grid-row: 1;
              height: 1rem;
              width: 1rem;
            }
          }
        }
      }
    }
  }
}
