*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  isolation: isolate;
  line-height: 1.5;
  margin: 0;
}

body {
  background-color: #d5ddd3;
  color: #222a21;
  font-family: Lato, sans-serif;

  header,
  main {
    isolation: isolate;
  }

  h1,
  h2,
  p {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  img,
  svg {
    display: block;
  }

  button,
  input {
    font-family: inherit;
    padding: 0;
  }

  button {
    border: none;
    cursor: pointer;
  }

  #app {
    display: grid;
    grid-template-rows: 4rem 1fr 0;
    height: 100vh;
    isolation: isolate;
  }
}
