*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  isolation: isolate;
  line-height: 1.5;
  margin: 0;
}

body {
  background-color: #d5ddd3;
  color: #222a21;
  display: grid;
  font-family: Lato, sans-serif;
  grid-template-rows: 1fr 0;
  height: 100vh;

  & > header,
  & > main {
    isolation: isolate;
  }

  figure,
  h1,
  h2,
  p {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  img,
  svg {
    display: block;
  }

  button,
  input {
    font-family: inherit;
    padding: 0;
  }

  button {
    border: none;
    cursor: pointer;
  }

  input {
    margin: 0;
  }

  #app {
    display: grid;
    grid-column: 1;
    grid-row: 1 / -1;
    grid-template-rows: 4rem 1fr;
    isolation: isolate;
  }
}
